.app {
  background-color: #141E2B;
  font-family: 'Raleway', Arial, sans-serif;
}

.main{
  min-height: 100vh;
}


@media(max-width:480px){
  .starfield-animation{
    display: none;
  }

  .app{
    background-image: url("https://cdn.pixabay.com/photo/2016/09/08/12/00/starry-sky-1654074_1280.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}





/* 
@keyframes app-ul {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
