.skills{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.hexagon{
    width: 120px;
    margin-right: 10px;
}

.hexagon-row:nth-child(1n+2) {
    margin-top: -2%;
}

.hexagon image{
    transform: translateX(-9%);
}
