.skills{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.hexagon{
    width: 120px;
    margin-right: 10px;
    
    &-row{
        display: flex;
    }
    
    &-text{
        background-color: #fff;

    }

    &-text-hidden{
        display: none;
    }
}

.hexagon-row:nth-child(1n+2) {
    margin-top: -2%;
}

.hexagon image{
    transform: translateX(-9%);
}

// =========== RESPONSIVE MOBILE <480px

@media(max-width:480px){
    .hexagon{
        width: 100px;
    }

    .hexagon-row:nth-child(1n+2) {
        margin-top: -5%;
    }
}