.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-title{
        color: #fff;
        font-size: 3.5em;
    }

    &-name{
        color: #f0f;
        font-weight: bold;
        text-shadow: 3px 3px 1px rgb(0, 183, 255);
        animation-name: drop-top;
        animation-duration: 1.2s;
        position: relative;
    }
}

@keyframes drop-top{
    from{
        top: -400px;    
    }
    50%{
        top: 120px;
    }
    to{
        top: 0;
    }
}
.button-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 145, 255);
}

#arrow-button{
    margin-left: .5em;
}

#home-button{
    position: relative;
    margin-top: 2em;
    transition-duration: .3s;
    &:hover{
        box-shadow: 0px 0px 8px #f0f;
    }
}


