.career{
    color: #fff;
    
    &-head{
        margin: 4em auto;
    }

    &-title{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2em;
        text-align: center;
        padding: 1.5em 0;
        width: 70%;
        margin: auto;
    }
    
    &-intro{
        font-size: 1.5em;
        width: 70%;
        margin: auto;
        text-align: justify;
    }
}