.career{
    position: relative;
    color: #fff;

    
    &-head{
        margin: 4em auto;
    }

    &-title{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2em;
        text-align: center;
        padding: 1.5em 0;
        width: 70%;
        margin: auto;
    }
    
    &-intro{
        font-size: 1.5em;
        width: 70%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(222, 222, 238);
    }
}

// =========== RESPONSIVE MOBILE <480px

@media(max-width:480px){
    .career-head{
        margin-bottom: 1em;
    }

    .career-intro{
        font-size: 1.2em;
        width: 80%;
    }    
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in{
    animation: none;
}