.nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: #1A2430;
    padding: .2em;
    z-index: 2;

    &-block{
        display: flex;
        flex-direction: row;
    }

    &-link, &-link-home{
        color: #fff;
        text-transform: uppercase;
        margin: .2em 1em;
        font-weight: 500;
        font-size: 1.2em;
    }

    &-link-home{
        margin-left: 1em;
    }

    &-link:after{
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-bottom: 2px solid #fff;
        transition: width .3s;
    }

    &-link:hover::after {
        width: 100%;
    }
}

.nav .active{
    border-bottom: 2px solid rgb(0, 153, 255);
}