.nav{
    display: flex;
    flex-direction: column;
    min-width: 12vw;
    border: 1px solid black;
    background-color: #1A2430;
}

.nav-link, .nav-link-home{
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    margin: 1.5em 0 1.5em 1em;
    font-weight: 500;
    font-size: 1.2em;
}

.nav-link-home{
    margin: 1.5em auto 5em;
}